option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elbv2:listener:default:
    Protocol: HTTP
    DefaultProcess: default
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:REGION:ACCOUNT_ID:certificate/CERTIFICATE_ID
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /healthz
    Port: '8000'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '86400'
    StickinessType: lb_cookie
