option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:default:
    Protocol: HTTP
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /healthz
    Port: '8000'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '86400'
    StickinessType: lb_cookie
